body{
    background-color: #DEDED1;
    font-family:  monospace;
    color: black;
    
    /* bold text*/
   

 
}
.mainTitle{
    font-size: 60px;
    
}
img {
  width: 60%;
  height: 400px;
  object-fit: cover;  /* 🔥 crops the image instead of stretching it */
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  opacity: 1;
  transition: 0.3s;
  margin-top: 10px;
}
video{
  width: 100%;
  height: 400px;
  object-fit: cover;  /* 🔥 crops the image instead of stretching it */
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  opacity: 1;
  transition: 0.3s;
  margin-top: 10px;
  
}

img:hover{
    opacity: 0.9;
   
}
/* For mobile screens (e.g., smaller than 768px) */
@media (max-width: 768px) {
  img {
    width: 100%;
  }
}
h1::selection{
    background-color: #DEDED1;
    color: black;
}
.container{
    display: flex;
    justify-content: right;
    text-align: right;
}
a{
    color: black;
    font-size: large;
}
@font-face {
  font-family: 'Nunito';
  src: url(Nunito/static/Nunito-Regular.ttf) format('truetype');
}
.logo {
  width: 140px;
  height: auto;
  position: absolute;
  top: 15px;
  right: 50px;
}
background-image {
  opacity: 0.5;
}
.pizza {
  width: 60px;
  height: auto;
  position: absolute;
  top: 50px;
  right: 20px;
}
.pizza:hover {
  transform: scale(1.1);
}
.main{
   background-image: url(puoti.jpeg);
    
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    padding-bottom: 50%;
    
}
.bottom{
    background-color: C5C7BC;
    color: B6AE9F;
    text-align: center;
    padding: 10px;
    
}
.bottom a{
    color: white;
    font-size: medium;
}
.almost_title{
    font-size: 50px;
    color: #FBF3D1;
}